<info>{{ issueNumber }}:</info> <error>{{ issueType }}</error> (estimate: {{ estimate }}, spent: {{ spent }})
    {{ summary }}
<comment>description:</comment>
    {{ description }}
<comment>environment:</comment> {{ environment }}
<comment>reporter:</comment> {{ reporter }}
<comment>link:</comment>
    {{ url }}
<comment>branches:</comment>
    {{ branches }}

