It seems the issue <info>{{ issueKey }}</info> has been moved to <info>{{ status }}</info>, and currently assigned to <info>{{ asignee }}</info>

Possible transitions:
<info>{{ transitionsNames }}</info>

<comment>link:</comment> {{ url }}
