# This is a basic workflow to help you get started with Actions

name: PHAR Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.1

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-dev -o

    - name: Install box
      run: wget https://github.com/humbug/box/releases/download/3.8.4/box.phar -O box && chmod 0755 box && pwd

    # Runs a single command using the runners shell
    - name: Build phar
      run: ./build --workflow

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: Phar build # optional
        # A file, directory or wildcard pattern that describes what to upload
        path: jira.phar
